# Default values for retriever.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

namespace: toeic4all

replicaCount: 1

image:
  repository: 192.168.0.5:5000/toeic4all-apis
  pullPolicy: IfNotPresent
  tag: ""

service:
  type: LoadBalancer
  port: 80

apiPrefix: "/api/v1"
environment: "production"
geminiApiKey: ""
mongodbUri: ""
mongodbMaxPoolSize: "100"
mongodbMinPoolSize: "10"
databaseName: "toeic4all"
